<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" href="/images/icon_toDo.png">
    <title>To Do List</title>
</head>

<body>
    <div class="tituloTarefa">
        <h1 id="tituloTarefa" contenteditable="true">TÍTULO DA TAREFA</h1>
    </div>

    <div class="container">

        <div id="lista-tasks"></div>

        <div class="input-container">
            <button id="btn-add" class="plus-icon">+</button>
            <input type="text" id="input-task" placeholder="Digite uma tarefa.">
        </div>
    </div>

    <script src="/script/script.js"></script>
</body>

</html>