<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" href="/images/icon_toDo.png">
    <title>To Do List</title>
</head>

<body>
    <h1 id="tituloTarefa" contenteditable="true">TÍTULO DA TAREFA</h1>

    <script src="/script/script.js"></script>
</body>

</html>